.title {
  font-weight: bold;
  margin-top: 65px;
  max-width: 1000px;
  margin: 0 auto;

  &:after {
    content: "";
    display: block;
    background: var(--white);

    height: 1px;
    width: 10rem;
    margin: 5px 0px;
  }
}
.container {
  padding: 1rem 2rem;
  max-width: 1366px;
  margin: 0 auto;

  @media only screen and (max-width: 600px) {
    padding: 1rem .5rem;
  }
}

.MoviesList {
  padding: 1rem 0rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;

  @media only screen and (max-width: 600px) {
    
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: .5rem;
  }

  .card__movie {
    width: 180px;
    cursor: pointer;

    @media only screen and (max-width: 600px) {      
      width: 100%;
      max-width: 180px;
      justify-self: center;
    }

    @media only screen and (max-width: 325px) {
      width: 100%;
      max-width: 150px;
      justify-self: center;
    }

    &:first-child {
      margin-right: 2rem;
      
      @media only screen and (max-width: 600px) {
        margin-right: unset;
      }
    }

    & + .card__movie {
      margin-right: 2rem;
      margin-bottom: 1rem;
      @media only screen and (max-width: 600px) {
        margin-right: unset;
      }
    }

    .image__movie {
      position: relative;
      width: 180px;

      @media only screen and (max-width: 600px) {
        width: inherit;
      }

      .image__img {
        border-radius: 5px;
        width: 100% !important;
      }

      .image__overlay {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;

        border-radius: 5px;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        transition: opacity 0.2s;

        & > * {
          transition: transform 0.2s;
        }

        &:hover > * {
          transform: translateY(20px);
        }

        &:hover {
          opacity: 1;
        }

        .image__rating {
          svg {
            width: 25px;
            & path {
              fill: #fdd10c;
            }
          }

          h4 {
            font-weight: bold;
            font-size: 1.5rem;
          }
        }

        .button__details {
          cursor: pointer;

          color: var(--white);
          background: var(--tertiary-color);
          padding: 8px 16px;
          border-radius: 5px;

          margin-top: 30px;

          transition: ease 0.2s;

          &:hover {
            text-decoration: none;
            filter: brightness(0.9);
            transform: translateY(20px);
            opacity: 1;
          }
        }

        .image__genre h4 {
          font-size: 1.5rem;
          font-weight: bold;

          &:first-child {
            margin-top: 15px;
          }

          & + h4 {
            margin-top: 15px;
          }
        }
      }
    }

    .movie__title {
      display: block;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
