.homePage {

  .moviesList {
    padding: 1rem 2rem;
    list-style-type: none;

    h2 {
      font-weight: bold;
      margin-top: 35px;

      &:after {
        content: '';
        display: block;
        background: var(--white);
        
        height: 1px;
        width: 15%;
        margin: 5px 0;
      }
    }
  }
}
