.modalContainer {
    display: none;
    opacity: 0;

    border-radius: 5px;
    background: var(--primary-color);

    position: absolute;
    z-index: 999;

    top: 6rem;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto;

    height: auto;
    width: 90%;

    .modal__header {
        border-radius: inherit;
        background: var(--secondary-color);
        padding: 5px 25px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .modal__title, .modal__close {
        font-size: 1rem;
        color: var(--white);
        font-weight: bold;
    }

    .modal__close {
        cursor: pointer;
        
        background: var(--tertiary-color);
        
        width: 30px;
        height: 30px;
        border-radius: 50%;
        
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 15px;

            & polygon {
                fill: var(--white);
            }
        }

        &:hover {
            filter: brightness(.8);
        }
    }

    .modal__videoContainer {
        & > div {
            width: auto!important;
            height: 70vh!important;
        }
    }

}

.modalOverlay {
    opacity: 0;
    display: none;

    height: 100%;
    width: 100%;
    z-index: 999;
    background: rgba(0,0,0,.85);
    position: absolute;
}

.active {
    display: block;
    opacity: 1;
}


