.carouselContainer {
    position: relative;
    height: auto;
    cursor: grab;

    div[class^="slick-slider"] {

      div[class^="slick-list"] {

        div[class^="slick-track"] {

          div[data-index] {

            &:before {
              position: absolute;
              z-index: 1;
              content: '';
              bottom: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background: radial-gradient(ellipse at center,transparent 65%,#000 100%);
            }

            &:after {
              position: absolute;
              z-index: 1;
              content: "";
              bottom: 0;
              width: 100%;
              height: 150px;
              background-color: rgba(2,9,22,0);
              background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(2,9,22,0)),to(#222B31));
            }

            .info {
              position: absolute;
              bottom: 1rem;

              margin-bottom: 6rem; 
              margin-left: 20px;

              max-width: 600px;
              z-index: 10;

              .title {
                font-size: 2.5rem;
              }
        
              .meta {
                margin-top: .5rem;
                font-weight: normal;

                span {
                  font-weight: 100;
                }
  
                span + span {
                  margin-left: 15px;
                }

                svg {
                  width: 12px;
                  display: inline-flex;
                  align-items: center;
                  margin-right: 3px;
                  & path {
                    fill: #fff;
                  }
                }
                
                p {
                  font-weight: normal;
                  display: -webkit-box;
                  -webkit-line-clamp: 3;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }

              p {
                margin-top: 20px;
                white-space: pre-line;
                text-overflow: ellipsis;
                overflow: hidden;
              }
              
              a {
                z-index: 10;
                cursor: pointer;
                padding: .5rem 2rem;
                text-decoration: none;
                // width: 100px;
                text-align: center;

                border: 1px solid var(--tertiary-color);
                border-radius: 1rem;
                color: var(--tertiary-color);
                margin-top: 1rem;
                position: absolute;

                transition: .3s ease;
                &:hover {
                  background: var(--tertiary-color);
                  color: #fff;
                }
              }
            }

            img {
              height: 45rem;
              width: 100%;
              object-fit: cover;
              object-position: 0px 10%;
              position: relative;
            }
          }
        }
      }
    }

    button[class^='slick-arrow slick-prev'],
    button[class^='slick-arrow slick-next'] {
      display: none!important;
      opacity: 0;
      &:before {
        display: none;
        opacity: 0;
      }
    }
  }

