.moviePageContainer {
  height: calc(100vh - 3rem);
  overflow-y: scroll;

  .background {
    position: relative;

    img {
      height: 70vh;
      width: 100%;
      object-fit: cover;
      cursor: pointer;
    }

    .playIcon {
      
      z-index: 100;
      position: absolute;
      top: 25%;
      width: 100%;
      display: flex;
      justify-content: center;
      cursor: pointer;
      // background: var(--white);
      
      transition: .3s;

      svg {
        width: 70px;
        border-radius: 50%;
        background: #fff;
          & path {
            fill: var(--tertiary-color);
          }
      }
      
      &:hover {
        filter: brightness(.8);
      }
    }
  }

  .moviePageDetails {
    padding: 1rem 2rem;
    margin-top: -6rem;

    display: flex;

    .moviePoster {
      z-index: 100;
      img {
        border-radius: 5px;
        width: 280px;
      }
    }

    .movieSubInfo {
      max-width: 70%;
      margin-top: 6rem;

      padding: 0rem 1rem;

      h2 {
      }

      div {
        display: flex;

        span {
          margin-right: 15px;

          &:first-child {
            display: flex;
            align-items: center;
            svg {
              width: 70px;
              margin-right: 5px;
            }
            svg path {
              fill: #2dbbcf;
            }
          }
        }
      }

      p {
        margin-top: 15px;
      }

      .genresList {
        span {
          &:after {
            content: ',';
            display: inline-block;
          }

          &:last-child {
            &:after {
              content: '.';
              display: inline-block;
            }
          }

          & + span {
            margin-left: 6px;
          }
        }
      }

      .movieSubCast {
        
        margin-top: 20px;

        .gridCast {
          display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 5px;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;

        }

        strong:first-child {
          display: block;
        }

        div {
          display: block;
          flex: 1;

          img {
            min-width: 80px;
            height: 80px;

            object-fit: cover;
            border-radius: 50%;
            margin: 0 auto;
          }

          strong {
            display: inline-block;
          }

          span {
            margin: 0;
            display: block;
            font-weight: normal;
          }
        }
      }
    }
  }

  .similarMovies {
    padding: 0rem 2rem;

    h2 {
      &:after {
        content: '';
        display: block;
        width: 100%;
        background: var(--white);
        height: 1px;
        margin: 10px 0;
      }
    }
  }
}
