.moviePageContainer {
    height: calc(100vh - 3rem);
    overflow-y: scroll;

    .background {
        img {
            height: 70vh;
            width: 100%;
            object-fit: cover;
        }
    }

    .moviePageDetails {
        padding: 1rem 2rem;
        margin-top: -6rem;

        display: flex;

        .moviePoster {
            img {
                border-radius: 5px;
                width: 280px;
            }
        }

        .movieSubInfo {
            max-width: 70%;
            margin-top: 6rem;

            padding: 0rem 1rem;

            h2 {
            }

            div {
                display: flex;

                span {
                    margin-right: 15px;

                    &:first-child {
                        display: flex;
                        align-items: center;
                        svg {
                            width: 70px;
                            margin-right: 5px;
                        }
                        svg path {
                            fill: #2dbbcf;
                        }
                    }
                }
            }

            p {
                margin-top: 15px;
            }

            .genresList {
                span {
                    &:after {
                        content: ",";
                        display: inline-block;
                    }

                    &:last-child {
                        &:after {
                            content: ".";
                            display: inline-block;
                        }
                    }

                    & + span {
                        margin-left: 6px;
                    }
                }
            }

            .movieSubCast {
                display: flex;

                justify-content: center;
                text-align: center;
                flex-wrap: wrap;

                strong:first-child {
                    display: block;
                }

                div {
                    display: block;
                    flex: 1;

                    img {
                        min-width: 80px;
                        height: 80px;

                        object-fit: cover;
                        border-radius: 50%;
                        margin: 0 auto;
                    }

                    & + div {
                        margin-left: 1rem;
                    }

                    strong {
                        display: inline-block;
                    }

                    span {
                        display: block;
                        font-weight: normal;
                        word-break: break-all;
                    }
                }
            }
        }
    }
}
